<div class="container-fluid">

  <div class="row">
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= link_to "View All Mountains", mountains_path, class: "btn btn-primary btn-lg" %>

    </div>
    <div class="col-sm-4">
      <%= link_to "Add Mountains", new_mountain_path, class: "btn btn-primary btn-lg" %>
    </div>
    <div class="col-sm-4">
      <%= link_to "Show Mountains Trekked", trekked_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>

</div>
